@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Momo+Signature&family=Yarndings+20&display=swap');

:root {
  --font-logo: "Climate Crisis", sans-serif;
  --font-sub: "Momo Signature", cursive;
  --font-main: "Merriweather", serif;

  --font-size-base: clamp(1rem, 4vw, 20px);
  --font-size-logo: clamp(2rem, 8vw, 70px);
  --line-height: 1.6;
  --text-align: center;

  --color-header-footer: #de2865;
  --color-main: #ffe6d4;
  --color-logo: #ffdbb6;
  --color-subline: #eaacb7;
  --color-text: #7d1236;

  --img-size: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-main);
  font-size: var(--font-size-base);
  line-height: var(--line-height);
  text-align: var(--text-align);
  color: var(--color-text);
  background: var(--color-main);
}

header,
footer {
  background-image: url(../img/header.JPEG);
}

h1 {
  font: var(--font-size-logo) var(--font-logo);
  color: var(--color-logo);
}

h2,
.subline {
  font-family: var(--font-sub);
}

.subline {
  color: var(--color-subline);
}

main {
  flex: 1;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em 2em;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  }
}

.settings {
  text-align: right;
}

.settings a,
#pagelinks a {
  text-decoration: none;
  text-transform: uppercase;
  background: #830232;
  font-weight: 800;
  color: var(--color-logo);
  border-radius: 7%;
}

#pagelinks {
  margin-bottom: 1%;
}

.brandcontent {
  text-align: center;
  padding: 7%;
  color: var(--color-logo);
}

.pagecontent {
  padding: 10%;
}

img {
  width: var(--img-size);
}

#randomfact {
  font-family: var(--font-logo);
  text-decoration: none;
  color: var(--color-header-footer);
  font-size: 130%;
}

button{
  background-color: transparent;
  border-color: transparent;
}